
  
  
  .side-bar {
    border: 2px groove goldenrod;
    position: relative;
    top: -1px;
    width: 220px;
    height: 670px;
     position: sticky;
    top: 70px; 
  }
  
  .heading {
    background-color: white;
    border-radius: 3px;
    font-family:serif;
    color: black;
    position: relative;
    font-size: 20px;
    left: 33px;
    top: 7px;
    font-weight: bold;
  }
  
  .countryheading {
    background-color: white;
    width: 100px;
    border-radius: 3px;
    font-family:serif;
    color: black;
    font-size: 20px;
    font-weight: bold;
    position: relative;
    left: -100px;
    top: 435px;
  }
  
  .button-box {
    height: 450px;
    padding: 10px;
  }
  
  .catebuttons {
    font-size: 18px;
    position: relative;
    left: 29px;
    top: 10px;
    width: 130px;
    height: 40px;
    margin-bottom: 15px;
    background-color: #dbdbdb;
    border: 3px ridge white;
    border-radius: 10px;
    font-family: serif;
    color: black;
  } 
  
  .catebuttons:hover {
    /* background-color: deeppink; */
    box-shadow: 0px 3px 3px 2px black;
    transition: 0.3s;
    border: 4px ridge white;
    color: black;
    border-radius: 15px;
    text-decoration: none;
    opacity: 0.9;
  }
  
  .button-box2 {
    height: 100px;
    padding: 10px;
  
  }
  
  .countrybuttons {
    background-color: #dbdbdb;
    border: 3px ridge white ;
    border-radius: 10px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    position: relative;
    left: 29px;
    top: -37px;
    width: 130px;
    height: 40px;
    margin-bottom: 15px;
    padding: 10px;
    color: black;
    font-family: serif;
    align-items: center;
  }
  .countrybuttons:hover{
    transition: 0.3s;
    opacity: 0.9;
    border: 4px ridge white;
    color: black;
    border-radius: 15px;
    text-decoration: none;
    box-shadow: 0px 3px 3px 2px black;
  }